<div id="select-file" class="open">
  <div class="btn-back d-none"><i class="fal fa-arrow-right"></i></div>
  <div id="dropzone">
    <div class="dropzone-panel">
      <i class="fal fa-folder"></i>
      <h1 class="dropzone-title">Drag & Drop</h1>
      <p class="dropzone-select">Or select files from your system</h1>
    </div>
  </div>
  <div id="loading">
    <img src="../../img/loading.svg">
  </div>
</div>
<div id="main-view">
  <div class="btn-back"><i class="fal fa-arrow-left"></i></div>
  <div id="playlist-container">
    <div id="video-playlist">
      <h2 class="playlist-title">Playlist</h2>
      <div class="over-top"></div>
      <div id="video-playlist-scroll"></div>
      <div class="over-bottom"></div>
    </div>
  </div>
  <div id="video-container">
    <video id="video" class="simple-video" preload="metadata"></video>
  </div>
</div>
